<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    style
      include home.css

</head>

<body>
    <nav class="hamburger">
        <div class="hamburgerinside">
            <ul class="hn">
                <li id="hn1"><a href="/home.html">Utkrisht Buttolia</a></li>
            </ul>
            <div class="openMenu">
                <img id="lg" src="/static/menu.png" alt="menu">
            </div>
            <ul class="mainMenu">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/myhobbies.html">My Hobbies</a></li>
                <li><a href="/skills.html">Skills</a></li>
                <div class="closeMenu"><img src="/static/close.png" alt="close"></div>
            </ul>

        </div>
    </nav>
    <nav class="navbar">
        <div class="navbarinside">
            <ul class="n">
                <li id="name"><a href="/home.html">Utkrisht Buttolia</a></li>
            </ul>
            <ul class="link">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/myhobbies.html">My Hobbies</a></li>
                <li><a href="/skills.html">Skills</a></li>
            </ul>
        </div>
    </nav>
    <div class="card">
        <h1>Rest in the end not in the middle</h1>
        <p>In this rapidly growing and very dynamic field, I believe in learnways keen to   learn new technology new things from each and every experience that comes my way.  Ales and work on it in a positive manner so as to enhance my career and knowledge. A dedicated worker looking forward to be a part of organization which provides a   steady career growth along with job satisfaction and challenges and give value     contribution in the success of organization.</p>
        <div class="btn">
            <button id="btn1" onclick="location.href='myhobbies.html';">My Hobbies</button>
            <button id="btn2" onclick="location.href='skills.html';">Skills</button>
        </div>
    </div>
    <div id="dp">
        <img src="/static/dp-modified.png" alt="profile">
    </div>
    <div class="sc">
        <a href="https://www.linkedin.com/in/utkrisht-buttolia-938869167/"><img src="/static/download.png" alt="LinkedIn"></a>
        <a href="https://javaguru128.blogspot.com/2021/01/major-fire-at-serumi.html"><img src="/static/blogger.png" alt="Blogger"></a>
        <a href="https://github.com/utkrisht128"><img src="/static/github.png" alt="Github"></a>
    </div>
</body>
   script 
    include active.js
    include home.js
</html>