<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    style
         include skills.css
    
</head>

<body>
    <nav class="navbar">
        <div class="navbarinside">
            <ul class="n">
                <li id="name"><a href="/home.html">Utkrisht Buttolia</a></li>
            </ul>
             <div class="openMenu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="link">
                <li><a href="/home.html">Home</a></li>
                <li><a href="/myhobbies.html">My Hobbies</a></li>
                <li><a href="/skills.html">Skills</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <h1 id="h1">Skills</h1>
        <div class="card">
            <div class="part">
            <img src="/static/java.png" alt="Java">
            <div class="progress">
                <div id="progressBar1"></div>
                <h3>90%</h3>
            </div>
            <h2>Java</h2>
            </div> 
            <div class="part">
            <img src="/static/html-5.png" alt="HTML">
            <div class="progress">
                <div id="progressBar2"></div>
                <h3>95%</h3>
            </div>
            <h2>HTML</h2>
            </div>
            <div class="part">
            <img src="/static/css-3.png" alt="CSS">
            <div class="progress">
                <div id="progressBar3"></div>
                <h3>80%</h3>
            </div>
            <h2>CSS</h2>
            </div>
        </div>
        <div class="card">
            <div class="part">
            <img src="/static/js.png" alt="JavaScript">
            <div class="progress">
                <div id="progressBar4"></div>
                <h3>80%</h3>
            </div>
            <h2>JavaScript</h2>
            </div>
            <div class="part">
            <img src="/static/nodejs.png" alt="Nodejs">
            <div class="progress">
                <div id="progressBar5"></div>
                <h3>80%</h3>
            </div>
            <h2 id="nodejs">Nodejs</h2>
            </div>
            <div class="part">
            <img src="/static/pug.png" alt="Pug">
            <div class="progress">
                <div id="progressBar6"></div>
                <h3>85%</h3>
            </div>
            <h2 id="pug">Pug</h2>
            </div>
        </div>

        <div class="card">
            <div class="part">
            <img src="/static/pngwing.com.png" alt="Express">
            <div class="progress">
                <div id="progressBar7"></div>
                <h3>85%</h3>
            </div>
            <h2>Express</h2>
            </div>
            <div class="part">
            <img src="/static/MongoDB-Logo-500x313.png" alt="MongoDB">
            <div class="progress">
                <div id="progressBar8"></div>
                <h3>90%</h3>
            </div>
            <h2>MongoDB</h2>
            </div>
            <div class="part">
            <img src="/static/react.png" alt="Reactjs">
            <div class="progress">
                <div id="progressBar9"></div>
                <h3>80%</h3>
            </div>
            <h2>Reactjs</h2>
            </div>
        </div>

        <div class="card">
            <div class="part">
            <img src="/static/linux.png" alt="Linux">
            <div class="progress">
                <div id="progressBar10"></div>
                <h3>85%</h3>
            </div>
            <h2>Linux</h2>
            </div>
            <div class="part">
            <img src="/static/git.png" alt="Git">
            <div class="progress">
                <div id="progressBar11"></div>
                <h3>80%</h3>
            </div>
            <h2 id="git">Git</h2>
            </div>
            <div class="part">
            <img src="/static/bootstrap.png" alt="Bootstrap">
            <div class="progress">
                <div id="progressBar12"></div>
                <h3>90%</h3>
            </div>
            <h2>Bootstrap</h2>
            </div>
        </div>
      
    </section>
</body>
    script 
        include skills.js
        include active.js
</html>